<nav class="" data-grid="categories">
  <div class="panel">
    <div class="panel-title">
      <h3>Categorias</h3>
    </div>
    <ul class="list-unstyled panel-list">
      <li>
        <a href="#" class="no-decoration small-scale">Marcenaria</a>
      </li>
      <li>
        <a href="#" class="no-decoration small-scale">Jardinagem</a>
      </li>
      <li>
        <a href="#" class="no-decoration small-scale">Limpeza</a>
      </li>
      <li>
        <a href="#" class="no-decoration small-scale">Escritório</a>
      </li>
      <li>
        <a href="#" class="no-decoration small-scale">Mecânica</a>
      </li>
      <li>
        <a href="#" class="no-decoration small-scale">Outros</a>
      </li>
    </ul>
  </div>
  <div class="search-field">
    <input type="text">
    <button type="button" name="button">OK</button>
  </div>
</nav>
