<div class="index-main">
  <div class="index-grid container">

    <%= render 'categories' %>

    <main data-grid="main">
      dsadsadsad
    </main>

    <%= render 'best_seller' %>

  </div>

</div>
