<header class="header-wrapper">
  <div class="main-header container">
    <div class="company-logo">
      <h1>Rent A Tool</h1>
    </div>

    <div class="cart-button">
      <a href="#">
        <i class="lnr lnr-cart"></i> Ver carrinho
      </a>
    </div>

    <nav class="navigation">
      <ul class="list-unstyled navigation-list">
        <li class="navigation-item">
          <a href="#">Minha conta</a>
        </li>
        <li class="navigation-item">
          <a href="#">Programa de pontos</a>
        </li>
        <li class="navigation-item">
          <a href="#">Consumo solidário</a>
        </li>
        <li class="navigation-item">
          <a href="#">Quem somos</a>
        </li>
        <li class="navigation-item">
          <a href="#">Ajuda</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
