<header class="header-wrapper">
  <div class="main-header container">
    <div class="company-logo">
      <h1>
        <%= link_to 'Rent A Tool', root_path, class: 'no-decoration text-white' %>
      </h1>
    </div>

    <div class="cart-button">
      <a href="#" class="small-scale">
        <i class="lnr lnr-cart"></i> Ver carrinho
      </a>
    </div>

    <nav class="navigation">
      <ul class="list-unstyled navigation-list">
        <li class="navigation-item">
          <a href="#" class="small-scale">Minha conta</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="small-scale">Programa de pontos</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="small-scale">Consumo solidário</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="small-scale">Quem somos</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="small-scale">Ajuda</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
